<?xml version="1.0"?>
<!--
/**
 * Copyright © Magic, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magic_Survey::survey_root" title="Surveys" sortOrder="55">
                    <resource id="Magic_Survey::survey_manage" title="Manage Surveys" sortOrder="10"/>
                    <resource id="Magic_Survey::survey_results" title="Survey Results" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
